@import "./variables.less";

#ChallengesApplication{
  margin: 25px;
  background-color: @white !important;
  min-height: ~"calc(100vh - 100px)" ;
  .welcomeMessage{
    margin: 0 20% 10%;
    align-items: center;
    text-align: center;
    .title {
      font-weight: bold;
    }
  }
  .addChallengeButton{
    .v-btn{
      text-transform: none !important;
    }
  }
}
